
{% extends "base.html" %}
    {% block titel %}
        Github Task
    {% endblock %}

{% block content %}

    <div class="container">
        <h1>Github Task</h1>
        {% if status == "1" %}  
            <h4> Status :<p style="color:green;"> <strong> Connected </strong> </p> </h4>
        {% endif %}

        {% if status == "0" %}  
            <h4> Status : <p style="color:red;"> Not connected </p> </h4>
        {% endif %}
        <a href="{{url}}"> Connect Your Github Account</a>
        <input type="hidden" id="status" value={{status}}>
        <br>
        <br>
        <br>
        <h2> List of Your Github Repo </h2>
        <div class="">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
            <p id="info" style="color:red;"> Collecting Data. Please wait... </p> <br>
            <button type="button" id="submitRepo" class="btn btn-primary" style="cursor:pointer;" onClick="submitRepoId()" data-dismiss="modal">Submit Your Selection</button> <br><br>
            <thead>
                <tr>
                    <th>Select Repo</th>
                    <th>Repo ID</th>
                    <th>Repositoty Name</th>
                    <th>Repositoty URL</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            </table>
        </div>
    </div>

    <script>
        
        $(document).ready(function(){
           var status = document.getElementById("status").value ;
           if (status == "1"){
               getGithubRepoList();
            }else{
                $('#info').hide(); 
            }

        });

        function getGithubRepoList(){
            var tbody = '';
            $.ajax({
                url: '/task/getGithubRepoListByUser/',
                type: 'GET',
                async:false,
                dataType: 'json',
                beforeSend: function () {
                    $('#container').show(); 
                },
                success: function (result) {
                    for (var idx in result) {
                        tbody +=
                              '                  <tr>\n'+
                              '                    <td style="padding-left:40px">'+ '<input type="radio" id="repo_'+ result[idx].id+' value="'+ result[idx].id+'" name="repo_id" ></td>\n'+
                              '                    <td>'+result[idx].id+'</td>\n'+
                              '                    <td>'+result[idx].repo_name+'</td>\n'+
                              '                    <td>'+result[idx].html_url+'</td>\n'+
                              '                  </tr>\n';

                    }
                    $("#example").find('tbody').html(tbody);
                    $('#info').hide();

                }
            });
        }

        function submitRepoId (){
            alert("OK");
        }

    </script>

{% endblock %}





